@import 'landing';
@import 'card';

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #222;
  background-color: #F4F4F4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
